body {
  background-color: hsl(212, 100%, 99%);
  font-size: 0.9rem;
  color: hsl(14, 11%, 24%);
  border-top: 3px solid hsl(212, 72%, 59%);
}

body,h1,h2,h3,h4,h5,p {
  font-family: 'Nunito', sans-serif;
}

a {
  color: hsl(212, 72%, 59%);
}

a:hover {
  text-decoration: none;
  color: hsl(212, 92%, 68%)
}

h1 {
  margin: 40px 0 30px 0;
}

h2 {
  margin: 30px 0 30px 0;
}

h4 {
  margin-bottom: 20px;
}

.circle {
  background: hsl(212, 72%, 59%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  font-size: 1.2rem;
}

td.status .progress {
  height: 5px;
  margin: 8px 0;
}

a:hover .circle {
  background: hsl(212, 92%, 68%);
}

.btn-primary {
  background: hsl(212, 72%, 59%);
  border: none;
}

.btn-primary:hover {
  background: hsl(212, 92%, 68%);
  border: none;
}

.btn-danger {
  background: hsl(0, 72%, 59%);
  border: none;
}

.btn-danger:hover {
  background: hsl(0, 92%, 68%);
  border: none;
}

.btn-secondary {
  background: hsl(0, 0%, 59%);
  border: none;
}

.btn-secondary:hover {
  background: hsl(0, 0%, 68%);
  border: none;
}

.details section {
  margin-bottom: 16px;
}

.details section label {
  text-transform: uppercase;
  color: grey;
  font-size: 0.75rem;
  width: 130px;
}

table#nodes {
  margin-bottom: 40px;
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

table#nodes th {
  vertical-align: middle;
  border-top: none;
  color: grey;
  text-transform: uppercase;
  height: 50px;
  font-size: 0.75rem;
  font-weight: normal;
}

table#nodes td {
  min-height: 63px;
  vertical-align: middle;
  padding: 0.85rem;
}

table#nodes tr:hover td {
  background-color: #fbfbfb;
}

.toclipboard input {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  border-right: none;
  background-color: hsl(212, 100%, 98%)!important;
  padding-right: 0;
}

.toclipboard .btn {
  border-color: #ced4da;
  border-left: none;
  background: #f7fbff;
}

.toclipboard .btn:hover {
  border-color: #ced4da;
  border-left: none;
  background: #ced4da;
}

.progress-bar {
  background-color: hsl(212, 72%, 59%);
}

.smaller {
  max-width: 700px;
  margin: 0 auto;
}

.netid {
  color: grey;
  font-family: monospace;
}

#empty {
  padding: 80px 0;
  background-color: #dee2e6;
  text-align: center;
}

#empty .btn {
  margin-top: 40px;
}

.lefttabs, .toptabs {
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.toptabs .tab-content {
  padding: 30px;
}

.toptabs ul {
  background: hsl(212, 72%, 59%);
}

.toptabs .nav-link {
  padding: 1rem 1.5rem;
  border-radius: 0;
  color: white;
}

.toptabs .nav-link:hover {
  background: rgba(255, 255, 255, 0.25);
}

.toptabs .nav-link.active {
  background: white;
  color: hsl(212, 11%, 15%);
}

.lefttabs .details {
  padding: 20px 30px 15px 0;
}

.table-sync td {
  padding: 10px 10px 10px 0;
}

#sidemenu {
  height: 100%;
  background: hsl(212, 72%, 59%);
}

#sidemenu .nav-link {
  padding: 1rem;
  border-radius: 0;
  color: white;
}

#sidemenu .nav-link:last-child {
  border-bottom: none;
}

#sidemenu .nav-link:hover {
  background: rgba(255, 255, 255, 0.25);
}

#sidemenu .nav-link.active {
  background: white;
  color: hsl(212, 11%, 15%);
}

footer {
  padding: 20px 0 40px 0;
  margin-top: 40px;
  border-top: 1px solid #dee2e6;
  text-align: center;
}