/* General styles */

body {
  font-size: 0.9rem;
  color: hsl(210, 7%, 28%);
  border-top: 3px solid hsl(172, 45%, 59%);
}

body,h1,h2,h3,h4,h5,p {
  font-family: 'Nunito', sans-serif;
}

a {
  color: hsl(172, 45%, 59%);
  outline: 0;
}

a:hover {
  text-decoration: none;
  color: hsl(172, 45%, 39%);
}

a:focus {
  background: hsla(172, 95%, 77%, 0.5);
}

h1 {
  margin: 40px 0 30px 0;
}

h2 {
  margin: 30px 0 30px 0;
}

h4 {
  margin-bottom: 20px;
}

/* Dashboard */

.circle {
  background: linear-gradient(hsl(172, 45%, 59%), hsl(202, 92%, 54%));
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  font-size: 1.2rem;
}

td.status .progress {
  height: 5px;
  margin: 8px 0;
}

a:hover .circle {
  background: linear-gradient(hsl(172, 45%, 59%), hsl(202, 92%, 54%));
}

/* Bootstrap components overrides */

.btn-outline-primary {
  color: hsl(172, 45%, 59%);
  border: 1px solid hsl(172, 45%, 59%);
}

.btn-outline-primary:hover {
  background: hsl(172, 45%, 59%);
  color: white;
  border: 1px solid hsl(172, 45%, 59%);
}

.btn:focus, .btn.focus {
  box-shadow: 0 0 0 0.2rem hsla(172, 95%, 77%, 0.5)!important;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary.active
{
  background: hsl(172, 45%, 59%)!important;
  color: white;
  border: 1px solid hsl(172, 45%, 59%)!important;
  box-shadow: 0 0 0 0.2rem hsla(172, 95%, 77%, 0.5)!important;
}

.btn-primary {
  background: hsl(172, 45%, 59%);
  border: 1px solid hsl(172, 45%, 59%);
}

.btn-primary:hover {
  background: hsl(172, 45%, 39%);
  border: 1px solid hsl(172, 45%, 39%);
}

.btn-primary:focus,
.btn-primary.focus
{
  background: hsl(172, 45%, 59%)!important;
  border: 1px solid hsl(172, 45%, 59%)!important;
  box-shadow: 0 0 0 0.2rem hsla(172, 95%, 77%, 0.5)!important;
}
.btn-primary:active,
.btn-primary.active
{
  background: hsl(172, 45%, 39%)!important;
  border: 1px solid hsl(172, 45%, 39%)!important;
  box-shadow: 0 0 0 0.2rem hsla(172, 95%, 77%, 0.5)!important;
}

input:focus, select:focus {
  border: 1px solid hsl(172, 45%, 59%)!important;
  border: 1px solid hsl(172, 45%, 59%)!important;
  box-shadow: 0 0 0 0.2rem hsla(172, 95%, 77%, 0.5)!important;
}

.btn-danger {
  background: hsl(7, 78%, 65%);
  border: 1px solid hsl(7, 78%, 65%);
}

.btn-danger:hover {
  background: hsl(7, 78%, 45%);
  border: 1px solid hsl(7, 78%, 45%);
}

.btn-danger:focus,
.btn-danger.focus
{
  background: hsl(7, 78%, 65%)!important;
  border: 1px solid hsl(7, 78%, 65%)!important;
  box-shadow: 0 0 0 0.2rem hsla(7, 95%, 77%, 0.5)!important;
}
.btn-danger:active,
.btn-danger.active
{
  background: hsl(7, 78%, 45%)!important;
  border: 1px solid hsl(7, 78%, 45%)!important;
  box-shadow: 0 0 0 0.2rem hsla(7, 95%, 77%, 0.5)!important;
}

.btn-secondary {
  background: hsl(0, 0%, 59%);
  border: none;
}

.btn-secondary:hover {
  background: hsl(0, 0%, 39%);
  border: none;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:active {
  background: hsl(172, 45%, 59%);
}

.status-active {
  color: hsl(134, 61%, 41%);
  text-transform: capitalize;
}
.status-active::before {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  margin-right: 0.2rem;
}

#gethlogs pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  background-color: hsl(14, 0%, 15%);
  color: #dee2e6;
  padding: 5px;
  max-width: 618px;
}

/* Form */

.form-control {
  border-color: hsla(212, 0%, 68%, 0.15);
  background-color: hsla(212, 0%, 68%, 0.15);
  height: 38px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
}

.providers input {
  opacity: 0.01;
  z-index: 100;
}

.providers label {
  display: block;
  z-index: 90;
  padding: 0.5rem 1rem;
  height: 100%;
  border: solid 1px transparent;
  overflow: hidden;
  border-radius: 0.3rem;
  text-align: center;
  cursor: pointer;
  background: hsla(212, 0%, 68%, 0.15);
  color: #43484d;
}

.providers label.azure::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f3ca";
  display: block;
  font-size: 3rem;
}

.providers label.aws::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f375";
  display: block;
  font-size: 3rem;
}

.providers label.digitalocean::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f391";
  display: block;
  font-size: 3rem;
}

.providers label.gcp::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f1a0";
  display: block;
  font-size: 3rem;
}

.providers input[type="radio"]:checked+label {
  border: solid 1px hsl(172, 45%, 59%);
  background: white;
  color: black;
}

.providers label:hover {
  border: solid 1px hsl(172, 45%, 59%);
}

.providers input[type="radio"]:focus+label {
  box-shadow: 0 0 0 0.2rem hsla(172, 95%, 77%, 0.5);
}

/* Node details */

.details section {
  margin-bottom: 24px;
}

.details section label {
  text-transform: uppercase;
  color: grey;
  font-size: 0.75rem;
}

.form-group>label {
  text-transform: uppercase;
  color: grey;
  font-size: 0.75rem;
}

table#nodes {
  margin-bottom: 40px;
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

table#nodes th {
  vertical-align: middle;
  border-top: none;
  color: grey;
  text-transform: uppercase;
  height: 50px;
  font-size: 0.75rem;
  font-weight: normal;
}

table#nodes td {
  min-height: 63px;
  vertical-align: middle;
  padding: 0.85rem;
}

table#nodes tr:hover td {
  background-color: hsla(172, 45%, 59%, 0.1);
}

input.toclipboard {
  background-color: hsla(212, 0%, 68%, 0.15) !important;
  border-color: hsla(212, 0%, 68%, 0.15);
}

.progress-bar {
  background-color: hsl(202, 92%, 54%);
}

.smaller {
  max-width: 700px;
  margin: 0 auto;
}

.netid {
  color: grey;
  font-family: monospace;
}

#empty {
  padding: 80px 0;
  background-color: #f9f9f9;
  text-align: center;
}

#empty .btn {
  margin-top: 40px;
}

.lefttabs, .toptabs {
  background: white;
  box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.2);
}

.toptabs .tab-content {
  padding: 30px;
}

.toptabs ul {
  background: hsla(212, 0%, 68%, 0.15);
}

.toptabs .nav-link {
  padding: 1rem 1.5rem;
  border-radius: 0;
  color: hsl(212, 11%, 15%);
  border-top: 2px solid transparent;
}

.toptabs .nav-link:hover {
  background: rgba(255, 255, 255, 0.5);
  border-top: 2px solid hsla(172, 45%, 59%, 0.5);
}

.toptabs .nav-link.active {
  background: white;
  color: hsl(212, 11%, 15%);
  border-top: 2px solid hsl(172, 45%, 59%);
}

.toptabs .nav-link:focus, .toptabs .nav-link.focus {
  box-shadow: 0 0 0 0.2rem hsla(172, 95%, 77%, 0.5)!important;
}

.titlebar {
  margin: 30px 0;
}

.display-inline {
  display: inline;
}

.lefttabs .details {
  padding: 20px 30px 15px 0;
}

.table-sync td {
  padding: 10px 10px 10px 0;
}

/* Details side menu */

#sidemenu {
  height: 100%;
  background: hsla(212, 0%, 68%, 0.15);
}

#sidemenu .nav-link {
  padding: 1rem;
  border-radius: 0;
  color: hsl(210, 7%, 28%);
  border-left: solid 2px transparent;
  outline: 0;
}

#sidemenu .nav-link:last-child {
  border-bottom: none;
}

#sidemenu .nav-link:hover {
  background: rgba(255, 255, 255, 0.5);
  border-left: solid 2px hsla(172, 45%, 59%, 0.5);
}

#sidemenu .nav-link.active {
  background: white;
  color: hsl(210, 7%, 28%);
  border-left: solid 2px hsl(172, 45%, 59%);
}

#sidemenu .nav-link:focus, #sidemenu .nav-link.focus {
  box-shadow: 0 0 0 0.2rem hsla(172, 95%, 77%, 0.5)!important;
}

/* Footer */

footer {
  padding: 20px 0 40px 0;
  margin-top: 40px;
  border-top: 1px solid hsla(212, 0%, 68%, 0.15);
  text-align: center;
}