body,h1,h2,h3,h4,h5,p {
  font-family: 'Nunito', sans-serif;
}

a:hover {
  text-decoration: none;
}

h1 {
  margin: 40px 0;
}

h2 {
  margin: 40px 0;
}

.table {
  border: solid 1px #dee2e6;
  margin-bottom: 40px;
}

th {
  background-color: #dee2e6;
}

tr:hover td {
  background-color: #f8f8f8;
}

.smaller {
  max-width: 600px;
  margin: 0 auto;
}

.netid {
  color: grey;
  font-family: monospace;
}

#empty {
  padding: 80px 0 40px 0;
  background-color: #dee2e6;
  text-align: center;
}

footer {
  padding: 20px 0 40px 0;
  margin-top: 40px;
  border-top: 1px solid #dee2e6;
  text-align: center;
}