<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        <div class="smaller">
            <h2>New node</h2>

            <div class="toptabs">

            <ul class="nav" id="typeTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="public-tab" data-toggle="tab" href="#public" role="tab" aria-controls="public" aria-selected="true">Public Net</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="private-tab" data-toggle="tab" href="#private" role="tab" aria-controls="private" aria-selected="false">Private Net</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane show active" id="public" role="tabpanel" aria-labelledby="public-tab">
                    <form action="/create" method="post" class="clearfix">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="auto">
                            <small id="nameHelp" class="form-text text-muted">Use lower case letters and dashes. Leave empty for automatic name.</small>
                        </div>
                        <div class="form-group">
                            <label for="network_id">Network ID</label>
                            <select class="form-control" id="network_id" name="network_id">
                                <option value="1">1 - Ethereum Main Network</option>
                                <option value="3">3 - Ropsten Test Network</option>
                                <option value="4">4 - Rinkeby Test Network</option>
                            </select>
                            <small id="nameHelp" class="form-text text-muted">Public network to connect to.</small>
                        </div>
                        <div class="form-group">
                            <label for="sync_mode">Sync Mode</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sync_mode" id="sync_mode_full" value="full" disabled>
                                <label class="form-check-label" for="sync_mode_full">Full</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sync_mode" id="sync_mode_fast" value="fast" disabled checked>
                                <label class="form-check-label" for="sync_mode_fast">Fast</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sync_mode" id="sync_mode_light" value="light" disabled>
                                <label class="form-check-label" for="sync_mode_light">Light</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="provider">Cloud Provider</label>
                            <div class="providers row">
                                {{ $first := index . 0 }}
                                {{range .}}
                                <div class="col-3">
                                    <input class="form-check-input" type="radio" name="provider" id="provider_{{.}}" value="{{.}}" {{if eq . $first}}checked{{end}}>
                                    <label class="form-check-label {{.}}" for="provider_{{.}}">
                                        {{if eq . "aws" }}Amazon Web Services{{end}}
                                        {{if eq . "azure" }}Microsoft Azure{{end}}
                                        {{if eq . "digitalocean" }}DigitalOcean{{end}}
                                        {{if eq . "gcp" }}Google Cloud Platform{{end}}
                                    </label>
                                </div>
                                {{end}}
                            </div>
                        </div>
                        <input name="network_type" type="hidden" value="public">
                        <button type="submit" class="btn btn-primary float-right">Create</button>
                    </form>
                </div>
                <div class="tab-pane" id="private" role="tabpanel" aria-labelledby="private-tab">
                    <form action="/create" method="post" class="clearfix">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="auto">
                            <small id="nameHelp" class="form-text text-muted">Use lower case letters and dashes. Leave empty for automatic name.</small>
                        </div>
                        <div class="form-group">
                            <label for="network_id">Network ID</label>
                            <input type="number" class="form-control" id="network_id" name="network_id" placeholder="Network ID">
                            <small id="nameHelp" class="form-text text-muted">Choose a unique number to prevent your node to connect to other networks. A random number will be used if empty.</small>
                        </div>
                        <div class="form-group">
                            <label for="sync_mode">Sync Mode</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sync_mode" id="sync_mode_full" value="full" disabled checked>
                                <label class="form-check-label" for="sync_mode_full">Full</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sync_mode" id="sync_mode_fast" value="fast" disabled>
                                <label class="form-check-label" for="sync_mode_fast">Fast</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sync_mode" id="sync_mode_light" value="light" disabled>
                                <label class="form-check-label" for="sync_mode_light">Light</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="provider">Cloud Provider</label>
                            <div class="providers row">
                                {{ $first := index . 0 }}
                                {{range .}}
                                <div class="col-3">
                                    <input class="form-check-input" type="radio" name="provider" id="provider2_{{.}}" value="{{.}}" {{if eq . $first}}checked{{end}}>
                                    <label class="form-check-label {{.}}" for="provider2_{{.}}">
                                        {{if eq . "aws" }}Amazon Web Services{{end}}
                                        {{if eq . "azure" }}Microsoft Azure{{end}}
                                        {{if eq . "digitalocean" }}DigitalOcean{{end}}
                                        {{if eq . "gcp" }}Google Cloud Platform{{end}}
                                    </label>
                                </div>
                                {{end}}
                            </div>
                        </div>
                        <input name="network_type" type="hidden" value="private">
                        <button type="submit" class="btn btn-primary float-right">Create</button>
                    </form>
                </div>
            </div>
            </div>
        </div>
        {{template "footer"}}
    </div>
</body>
</html>