<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        <h2>Nodes</h2>
        {{ if . }}
        <table class="table" id="nodes">
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Provider</th>
                <th>Endpoint</th>
            </tr>
            {{range .}}
            <tr class="status-{{.Status}}">
                <td>
                    <a href="/node/{{.ID}}"><div class="circle"><i class="fab fa-ethereum"></i></div> <b>{{.Name}}</b></a><br>
                    {{if eq .NetworkType "public" }}
                        {{if eq .NetworkID 1}}Mainnet{{end}}
                        {{if eq .NetworkID 3}}Ropsten{{end}}
                        {{if eq .NetworkID 4}}Rinkeby{{end}}
                    {{else}}
                        Private <span class="text-monospace text-secondary">({{.NetworkID}})</span>
                    {{end}}
                </td>
                <td class="text-capitalize status">{{.Status}}</td>
                <td>{{.CreatedAt.Format "Jan 2 15:04"}}</td>
                <td class="text-capitalize">
                    {{if eq .CloudProvider "aws" }}AWS{{end}}
                    {{if eq .CloudProvider "azure" }}Azure{{end}}
                </td>
                <td>
                    {{if .DomainName}}
                        <div class="input-group mb-0 toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!">
                        <input class="form-control" type="text" value="http://{{.DomainName}}:8545/{{.APIKey}}" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-copy"></i></button>
                        </div>
                        </div>
                    {{else}}
                        Pending
                    {{end}}
                </td>
            </tr>
            {{end}}
        </table>
        <a class="btn btn-primary btn-lg" href="/create"><i class="fas fa-plus"></i> Create a new node</a>
        {{else}}
        <div id="empty">
            <div>There are no nodes yet, please create one.</div>
            <a class="btn btn-primary btn-lg" href="/create"><i class="fas fa-plus"></i> Create a new node</a>
        </div>
        {{end}}
        {{template "footer"}}
    </div>
    <script>
        $( document ).ready(function() {
            $('.status-deployed').each(async function() {
                var rpc = $(this).find('input').val();
                var web3 = new Web3(rpc);
                var td = $(this).find('td.status');
                setInterval(async function() {
                    var data = await web3.eth.isSyncing();
                    var bn = await web3.eth.getBlockNumber();
                    if (data) {
                        $(td).html(`Synchronizing<br>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="${data.currentBlock}" aria-valuemin="0" aria-valuemax="${data.highestBlock+data.knownStates}" style="width: ${data.currentBlock/(data.highestBlock+data.knownStates)*100}%"></div>
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="${data.pulledStates}" aria-valuemin="0" aria-valuemax="${data.highestBlock+data.knownStates}" style="width: ${data.pulledStates/(data.highestBlock+data.knownStates)*100}%"></div>
                            </div>`);
                    } else {
                        $(td).html(`Synchronized<br><i class="fas fa-dice-d6"></i> ${bn}`);
                    }
                }, 1000);
            });
            $('.status-creating').each(async function() {
                var td = $(this).find('td.status');
                $(td).html(`Creating<br>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>`);
            });
        });
    </script>
</body>
</html>
