<!DOCTYPE html>
<html>
<head>
        {{template "head" .}}
</head>
<body>
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        <h2>Nodes</h2>
        {{ if . }}
        <table class="table" id="nodes">
            <tr>
                <th>Name</th>
                <th>Network</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Provider</th>
                <th>Endpoint</th>
            </tr>
            {{range .}}
            <tr>
                <td class="align-middle">
                    <a href="/node?id={{.ID}}"><i class="fas fa-th-large"></i> <b>{{.Name}}</b></a>
                </td>
                <td class="align-middle">
                    {{if eq .NetworkType "public" }}
                        {{if eq .NetworkID 1}}Mainnet <span class="netid">({{.NetworkID}})</span>{{end}}
                        {{if eq .NetworkID 3}}Ropsten <span class="netid">({{.NetworkID}})</span>{{end}}
                        {{if eq .NetworkID 4}}Rinkeby <span class="netid">({{.NetworkID}})</span>{{end}}
                    {{else}}
                        Private <span class="netid">({{.NetworkID}})</span>
                    {{end}}
                </td>
                <td class="align-middle text-capitalize">{{.Status}}</td>
                <td class="align-middle">{{.CreatedAt.Format "Mon Jan 2 15:04"}}</td>
                <td class="align-middle text-capitalize">
                    {{if eq .CloudProvider "aws" }}AWS{{end}}
                    {{if eq .CloudProvider "azure" }}Azure{{end}}
                </td>
                <td>
                    <div class="input-group mb-0 toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!">
                    <input class="form-control" type="text" value="http://{{.Name}}.westus2.cloudapp.azure.com:8545/{{.APIKey}}" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fas fa-copy"></i></button>
                    </div>
                    </div>
                </td>
            </tr>
            {{end}}
        </table>
        <a class="btn btn-primary btn-lg" href="/create"><i class="fas fa-plus"></i> Create a new node</a>
        {{else}}
        <div id="empty">
            <div>There are no nodes yet, please create one.</div>
            <a class="btn btn-primary btn-lg" href="/create"><i class="fas fa-plus"></i> Create a new node</a>
        </div>
        {{end}}
    </div>
</body>
</html>
