{{define "modal_reboot"}}
<div class="modal" id="reboot-{{.ID}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rebooting {{.Name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"><p>The Virtual Machine will be rebooted and your node will stop to function during a few seconds.</p><p>Are you sure you want to reboot this node?</p></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="/node/{{.ID}}/reboot" class="btn btn-primary">Reboot</a>
            </div>
        </div>
    </div>
</div>
{{end}}