<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    {{with .Node}}
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        <h2>{{ .Name }}</h2>
        <div class="lefttabs">
            <div class="row">
                <div class="col col-3">
                    {{template "node_sidemenu" $ }}
                </div>
                <div class="col">
                    <div class="details">
                        <section>
                            <label>VM Status:</label>
                            <span class="text-capitalize">{{.Status}}</span>
                        </section>
                        {{ if eq .Status "deployed"}}
                        <section>
                            <label>Geth Syncing:</label>
                            <span id="syncing"><i class="fas fa-spin fa-spinner"></i></span>
                        </section>
                        <section>
                            <label>Block Number:</label>
                            <span id="blocknumber"><i class="fas fa-spin fa-spinner"></i></span>
                        </section>
                        <section>
                            <label>Net Peers:</label>
                            <span id="netpeers"><i class="fas fa-spin fa-spinner"></i></span>
                        </section>
                        
                        <script>
                            $( document ).ready(function() {
                                var web3 = new Web3("http://{{.DomainName}}:8545/{{.APIKey}}");
                                
                                setInterval(function() {
                                    
                                    web3.eth.isSyncing().then((data) => {
                                        $('#syncing').html(data ? `
                                        <table class="table-sync">
                                            <tr>
                                                <td>Blocks:</td>
                                                <td class="col-11 align-middle"><div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="${data.currentBlock}" aria-valuemin="0" aria-valuemax="${data.highestBlock}" style="width: ${data.currentBlock/data.highestBlock*100}%">${(data.currentBlock/data.highestBlock*100).toFixed(2)}%</div>
                                                </div></td>
                                                <td class="text-right text-monospace">${data.currentBlock}/${data.highestBlock}</td>
                                            </tr>
                                            <tr>
                                                <td>States:</td>
                                                <td class="col-11 align-middle"><div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="${data.pulledStates}" aria-valuemin="0" aria-valuemax="${data.knownStates}" style="width: ${data.pulledStates/data.knownStates*100}%">${(data.pulledStates/data.knownStates*100).toFixed(2)}%</div>
                                                </div></td>
                                                <td class="text-right text-monospace">${data.pulledStates}/${data.knownStates}</td>
                                            </tr>
                                        </table>
                                        ` : 'False');
                                    });
                                    web3.eth.getBlockNumber().then((data) => {
                                        $('#blocknumber').html(data ? data : 'N/A');
                                    });
                                    web3.eth.net.getPeerCount().then((data) => {
                                        $('#netpeers').html(data);
                                    });
                                    
                                }, 1000);
                            });
                        </script>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        {{template "footer"}}
    </div>
    {{end}}
</body>
</html>