<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    {{with .Node}}
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        <h2>{{ .Name }}</h2>
        <div class="lefttabs">
            <div class="row">
                <div class="col col-3">
                    {{template "node_sidemenu" $ }}
                </div>
                <div class="col">
                    <div class="details">
                        <section class="row">
                            <label class="col-3">Domain:</label>
                            <div class="col-9">
                            <code>{{.DomainName}}</code>
                            </div>
                        </section>
                        <section class="row">
                            <label class="col-3">API Key:</label>
                            <div class="col-9">
                            <code>{{.APIKey}}</code>
                            </div>
                        </section>
                        {{ if eq .Status "deployed"}}
                        <section class="row">
                            <label class="col-3">Web3 RPC endpoint:</label>
                            <div class="col-9">
                            <div class="input-group mb-2">
                                <input class="form-control toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!" type="text" value="http{{if .HasSSL}}s{{end}}://{{.DomainName}}:8545/{{.APIKey}}" readonly>
                            </div>
                            <div class="input-group">
                                <input class="form-control toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!" type="text" value="ws{{if .HasSSL}}s{{end}}://{{.DomainName}}:8546/{{.APIKey}}" readonly>
                            </div>
                            </div>
                        </section>
                        <section class="row">
                            <label class="col-3">Geth attach:</label>
                            <div class="col-9">
                            <div class="input-group mb-2">
                                <input class="form-control toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!" type="text" value="geth attach http{{if .HasSSL}}s{{end}}://{{.DomainName}}:8545/{{.APIKey}}" readonly>
                            </div>
                            <div class="input-group">
                                <input class="form-control toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!" type="text" value="geth attach ws{{if .HasSSL}}s{{end}}://{{.DomainName}}:8546/{{.APIKey}}" readonly>
                            </div>
                            </div>
                        </section>
                        <section class="row">
                            <label class="col-3">SSH access:</label>
                            <div class="col-9">
                            <div class="input-group">
                                <input class="form-control toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!" type="text" value="ssh blockform@{{.DomainName}}" readonly>
                            </div>
                            </div>
                        </section>
                        {{ if eq .NetworkType "private"}}
                        <section class="row">
                            <label class="col-3">Faucet:</label>
                            <div class="col-9">
                            <div class="input-group mb-3 toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!">
                                <input class="form-control" type="text" value="http{{if .HasSSL}}s{{end}}://{{.DomainName}}:8080/{{.APIKey}}/yourethaddress" readonly>
                            </div>
                            <p>Request some ether now:</p>
                            <div class="input-group mb-0">
                                <input class="form-control" type="text" id="ethaddr" placeholder="Your ETH address">
                                <div class="input-group-append">
                                    <button id="faucet" class="btn btn-primary" data-toggle="tooltip" data-placement="top" type="button">Receive 1 ETH</button>
                                </div>
                            </div>
                            </div>
                        </section>
                        <script>
                            $( document ).ready(function() {
                                $('#faucet').click(function() {
                                    fetch("http{{if .HasSSL}}s{{end}}://{{.DomainName}}:8080/{{.APIKey}}/"+$('#ethaddr').val())
                                    .then(async function(resp) {
                                        var body = await resp.text();
                                        var success = /0x.{64}/.test(body);
                                        $('#faucet').tooltip('enable');
                                        $('#faucet').attr('data-original-title', success ? 'Success!' : 'Failed!');
                                        $('#faucet').tooltip('show');
                                        $('#faucet').tooltip('disable');
                                    });
                                });
                            });
                        </script>
                        {{end}}
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        {{template "footer"}}
    </div>
    {{end}}
</body>
</html>