<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        <h2>{{ .Name }}</h2>
        <div class="row">
            <div class="col col-lg-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" href="/node/{{.ID}}">General</a>
                    <a class="nav-link" href="/node/{{.ID}}/health">Health</a>
                    <a class="nav-link active" href="/node/{{.ID}}/endpoints">Endpoints</a>
                    <a class="nav-link" href="/node/{{.ID}}/explorer">Explorer</a>
                    <a class="nav-link" href="/node/{{.ID}}/actions">Actions</a>
                    <a class="nav-link" href="/node/{{.ID}}/activity">Activity</a>
                </div>
            </div>
            <div class="col">
                <p><b>API Key:</b> <code>{{.APIKey}}</code></p>
                {{ if eq .Status "deployed"}}
                <p>
                    <b>Web3 RPC endpoint:</b>
                    <div class="input-group mb-0 toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!">
                        <input class="form-control" type="text" value="http://{{.DomainName}}:8545/{{.APIKey}}" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-copy"></i></button>
                        </div>
                    </div>
                </p>
                <p>
                    <b>Geth attach:</b>
                    <div class="input-group mb-0 toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!">
                        <input class="form-control" type="text" value="geth attach http://{{.DomainName}}:8545/{{.APIKey}}" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-copy"></i></button>
                        </div>
                    </div>
                </p>
                <p>
                    <b>SSH access:</b>
                    <div class="input-group mb-0 toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!">
                        <input class="form-control" type="text" value="ssh blockform@{{.DomainName}}" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-copy"></i></button>
                        </div>
                    </div>
                </p>
                {{end}}
            </div>
        </div>
        {{template "footer"}}
    </div>
</body>
</html>