<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    {{with .Node}}
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        <h2>{{ .Name }}</h2>
        <div class="lefttabs">
            <div class="row">
                <div class="col col-3">
                    {{template "node_sidemenu" $ }}
                </div>
                <div class="col">
                    <div class="details">
                        <section class="row">
                            <label class="col-3">Created at:</label>
                            <div class="col-9">
                            {{.CreatedAt.Format "Mon Jan 2 15:04"}}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        {{template "footer"}}
    </div>
    {{end}}
</body>
</html>