<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    {{with .Node}}
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        {{template "node_titlebar" . }}
        <div class="lefttabs">
            <div class="row">
                <div class="col col-3">
                    {{template "node_sidemenu" $ }}
                </div>
                <div class="col">
                    <div class="details">
                        <section class="row">
                            <label class="col-3">Network:</label>
                            <div class="col-9">{{template "net_name" .}}</div>
                        </section>
                        <section class="row">
                            <label class="col-3">Sync Mode:</label>
                            <div class="col-9">
                            <span class="text-capitalize">{{.SyncMode}}</span>
                            </div>
                        </section>
                        <section class="row">
                            <label class="col-3">Created at:</label>
                            <div class="col-9">
                            {{.CreatedAt.Format "Mon Jan 2 15:04"}}
                            </div>
                        </section>
                        <section class="row">
                            <label class="col-3">Cloud Provider:</label>
                            <div class="col-9">
                            {{if eq .CloudProvider "aws" }}AWS{{end}}
                            {{if eq .CloudProvider "digitalocean" }}DigitalOcean{{end}}
                            {{if eq .CloudProvider "gcp" }}GCP{{end}}
                            {{if eq .CloudProvider "dedicated" }}Dedicated{{end}}
                            </div>
                        </section>
                        <section class="row">
                            <label class="col-3">VM Status:</label>
                            <div class="col-9">
                            <span class="text-capitalize">{{.Status}}</span>
                            </div>
                        </section>
                        {{ if eq .Status "deployed"}}
                        <section class="row">
                            <label class="col-3">Geth Syncing:</label>
                            <div class="col-9">
                            <span id="syncing"><i class="fas fa-spin fa-spinner"></i></span>
                            </div>
                        </section>
                        <section class="row">
                            <label class="col-3">Block Number:</label>
                            <div class="col-9">
                            <span id="blocknumber"><i class="fas fa-spin fa-spinner"></i></span>
                            </div>
                        </section>
                        <section class="row">
                            <label class="col-3">Web3 RPC endpoint:</label>
                            <div class="col-9">
                            <div class="input-group">
                                <input class="form-control toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!" type="text" value="http{{if .HasSSL}}s{{end}}://{{.DomainName}}:8545/{{.APIKey}}" readonly>
                            </div>
                            </div>
                        </section>
                        <section class="row">
                            <label class="col-3">Geth attach:</label>
                            <div class="col-9">
                            <div class="input-group">
                                <input class="form-control toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!" type="text" value="geth attach http{{if .HasSSL}}s{{end}}://{{.DomainName}}:8545/{{.APIKey}}" readonly>
                            </div>
                            </div>
                        </section>
                        <section class="row">
                            <label class="col-3">SSH access:</label>
                            <div class="col-9">
                            <div class="input-group">
                                <input class="form-control toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!" type="text" value="ssh blockform@{{.DomainName}}" readonly>
                            </div>
                            </div>
                        </section>
                        <script>
                            $( document ).ready(function() {
                                var web3 = new Web3("http{{if .HasSSL}}s{{end}}://{{.DomainName}}:8545/{{.APIKey}}");
                                setInterval(function() {
                                    web3.eth.isSyncing().then((data) => {
                                        $('#syncing').html(data ? `
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="${data.currentBlock}" aria-valuemin="0" aria-valuemax="${data.highestBlock+data.knownStates}" style="width: ${data.currentBlock/(data.highestBlock+data.knownStates)*100}%"></div>
                                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="${data.pulledStates}" aria-valuemin="0" aria-valuemax="${data.highestBlock+data.knownStates}" style="width: ${data.pulledStates/(data.highestBlock+data.knownStates)*100}%"></div>
                                            </div>` : 'False');
                                    });
                                    web3.eth.getBlockNumber().then((data) => {
                                        $('#blocknumber').html(data ? data : 'N/A');
                                    });
                                }, 1000);
                            });
                        </script>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        {{template "footer"}}
    </div>
    {{end}}
</body>
</html>
