<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    {{with .Node}}
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        <h2>{{ .Name }}</h2>
        <div class="lefttabs">
            <div class="row">
                <div class="col col-3">
                    {{template "node_sidemenu" $ }}
                </div>
                <div class="col">
                    <div class="details">
                        <p><b>Latest blocks</b></p>
                        <table class="table table-sm" id="blocks"></table>
                    </div>
                </div>
            </div>
            <script>
                $( document ).ready(function() {
                    var web3 = new Web3("http{{if .HasSSL}}s{{end}}://{{.DomainName}}:8545/{{.APIKey}}");
                    web3.eth.getBlockNumber().then(async (bn) =>{
                        if (bn > 10) {
                            for (var i=0; i < 10; i++) {
                                var bl = await web3.eth.getBlock(bn - i);
                                $('#blocks').append(
                                `<tr>
                                    <td><a href="/node/{{.ID}}/explorer/block/${bl.number}">#${bl.number}</a></td>
                                    <td><code>${bl.hash}</code></td>
                                    <td>${bl.transactions.length} txs</td>
                                </tr>`
                                );
                            }
                        }
                    });
                });
            </script>
        </div>
        {{template "footer"}}
    </div>
    {{end}}
</body>
</html>