<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    {{with .Node}}
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        {{template "node_titlebar" . }}
        <div class="lefttabs">
            <div class="row">
                <div class="col col-3">
                    {{template "node_sidemenu" $ }}
                </div>
                <div class="col">
                    <div class="details">
                        <p><b>Activity</b></p>
                        <table class="table">
                            {{range $.Events}}
                                <tr>
                                    <td>{{.CreatedAt.Format "Mon Jan 2 15:04"}}</td>
                                    <td>
                                        <b class="{{if eq .Type "issue"}}text-danger{{end}}">{{.Title}}</b><br>
                                        {{.Description}}
                                    </td>
                                </tr>
                            {{end}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{template "footer"}}
    </div>
    {{end}}
</body>
</html>