<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    {{with .Node}}
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        <h2>{{ .Name }}</h2>
        <div class="lefttabs">
            <div class="row">
                <div class="col col-3">
                    {{template "node_sidemenu" $ }}
                </div>
                <div class="col">
                    <div class="details">
                        <h4>Transaction</h4>
                        <div id="tx"></div>
                    </div>
                </div>
            </div>
            <script>
                $( document ).ready(function() {
                    var web3 = new Web3("https://{{.DomainName}}:8545/{{.APIKey}}");
                    web3.eth.getTransaction("{{ $.ID }}").then(async (tx) =>{
                        $('#tx').append(`
                            <p><b>Hash:</b> <code>${tx.hash}</code></p>
                            <p><b>Block Number:</b> <a href="/node/{{.ID}}/explorer/block/${tx.blockNumber}">#${tx.blockNumber}</a></p>
                            <p><b>Index:</b> <code>${tx.transactionIndex}</code></p>
                            <p><b>Value:</b> <code>${tx.value}</code></p>
                            <p><b>From:</b> <a href="/node/{{.ID}}/explorer/address/${tx.from}">${tx.from}</a></p>
                            <p><b>To:</b> <a href="/node/{{.ID}}/explorer/address/${tx.to}">${tx.to}</a></p>
                            <p><b>Gas:</b> <code>${tx.gas}</code></p>
                            <p><b>Gas Price:</b> <code>${tx.gasPrice}</code></p>
                            <p><b>S:</b> <code>${tx.s}</code></p>
                            <p><b>R:</b> <code>${tx.r}</code></p>
                            <p><b>V:</b> <code>${tx.v}</code></p>
                        `);
                        //$('#tx').append(`<p><code>${JSON.stringify(tx)}</code><p>`);
                    });
                });
            </script>
        </div>
        {{template "footer"}}
    </div>
    {{end}}
</body>
</html>