<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    {{with .Node}}
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        <h2>{{ .Name }}</h2>
        <div class="lefttabs">
            <div class="row">
                <div class="col col-3">
                    {{template "node_sidemenu" $ }}
                </div>
                <div class="col">
                    <div class="details">
                        <section class="row">
                            <label class="col-3">VM Status:</label>
                            <div class="col-9">
                            <span class="text-capitalize">{{.Status}}</span>
                            </div>
                        </section>
                        {{if eq .Status "deployed"}}
                        <section class="row">
                            <label class="col-3">Geth Service:</label>
                            <div class="col-9">
                            <span id="gethstatus"><i class="fas fa-spin fa-spinner"></i></span>
                            </div>
                        </section>
                        <section class="row">
                            <label class="col-3">Proxy Service:</label>
                            <div class="col-9">
                            <span id="proxystatus"><i class="fas fa-spin fa-spinner"></i></span>
                            </div>
                        </section>
                        {{if eq .NetworkType "private"}}
                        <section class="row">
                            <label class="col-3">Faucet Service:</label>
                            <div class="col-9">
                            <span id="faucetstatus"><i class="fas fa-spin fa-spinner"></i></span>
                            </div>
                        </section>
                        {{end}}
                        <section class="row">
                            <label class="col-3">Geth Syncing:</label>
                            <div class="col-9">
                            <span id="syncing"><i class="fas fa-spin fa-spinner"></i></span>
                            </div>
                        </section>
                        <section class="row">
                            <label class="col-3">Block Number:</label>
                            <div class="col-9">
                                <div id="blocknumber"><i class="fas fa-spin fa-spinner"></i></div>
                                {{if eq .NetworkType "public" }}
                                    <div id="bn-etherscan" class="text-secondary"><i class="fas fa-spin fa-spinner"></i></div>
                                {{end}}
                            </div>
                        </section>
                        <section class="row">
                            <label class="col-3">Net Peers:</label>
                            <div class="col-9">
                            <span id="netpeers"><i class="fas fa-spin fa-spinner"></i></span>
                            </div>
                        </section>
                        <section class="row">
                            <label class="col-3">Geth Logs:</label>
                            <div class="col-9">
                            <div id="gethlogs"><i class="fas fa-spin fa-spinner"></i></div>
                            </div>
                        </section>
                        <script>
                            $( document ).ready(function() {
                                var web3 = new Web3("https://{{.DomainName}}:8545/{{.APIKey}}");
                                
                                setInterval(function() {
                                    
                                    web3.eth.isSyncing().then((data) => {
                                        $('#syncing').html(data ? `
                                        <table class="table-sync">
                                            <tr>
                                                <td>Blocks:</td>
                                                <td class="col-11 align-middle"><div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="${data.currentBlock}" aria-valuemin="0" aria-valuemax="${data.highestBlock}" style="width: ${data.currentBlock/data.highestBlock*100}%">${(data.currentBlock/data.highestBlock*100).toFixed(2)}%</div>
                                                </div></td>
                                                <td class="text-right text-monospace">${data.currentBlock}/${data.highestBlock}</td>
                                            </tr>
                                            <tr>
                                                <td>States:</td>
                                                <td class="col-11 align-middle"><div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="${data.pulledStates}" aria-valuemin="0" aria-valuemax="${data.knownStates}" style="width: ${data.pulledStates/data.knownStates*100}%">${(data.pulledStates/data.knownStates*100).toFixed(2)}%</div>
                                                </div></td>
                                                <td class="text-right text-monospace">${data.pulledStates}/${data.knownStates}</td>
                                            </tr>
                                        </table>
                                        ` : 'False');
                                    });
                                    web3.eth.getBlockNumber().then((data) => {
                                        $('#blocknumber').html(data ? data : 'N/A');
                                    });
                                    web3.eth.net.getPeerCount().then((data) => {
                                        $('#netpeers').html(data);
                                    });

                                    {{if eq .NetworkType "public" }}
                                        {{if eq .NetworkID 1}}let url = "https://api.etherscan.io/api?module=proxy&action=eth_blockNumber"{{end}}
                                        {{if eq .NetworkID 3}}let url = "https://api-ropsten.etherscan.io/api?module=proxy&action=eth_blockNumber"{{end}}
                                        {{if eq .NetworkID 4}}let url = "https://api-rinkeby.etherscan.io/api?module=proxy&action=eth_blockNumber"{{end}}
                                        fetch(url).then(res => res.json()).then((data) => {
                                            $('#bn-etherscan').html(parseInt(data.result, 16) + " on etherscan");
                                        });
                                    {{end}}
                                }, 1000);

                                setInterval(function() {
                                    fetch("/node/{{.ID}}/status/geth").then(res => res.text()).then((data) => {
                                        $('#gethstatus').html(`<span class="status-${data}">${data}</span>`);
                                    });
                                    fetch("/node/{{.ID}}/status/nginx").then(res => res.text()).then((data) => {
                                        $('#proxystatus').html(`<span class="status-${data}">${data}</span>`);
                                    });
                                    {{if eq .NetworkType "private"}}
                                    fetch("/node/{{.ID}}/status/faucet").then(res => res.text()).then((data) => {
                                        $('#faucetstatus').html(`<span class="status-${data}">${data}</span>`);
                                    });
                                    {{end}}
                                    fetch("/node/{{.ID}}/logs/geth").then(res => res.text()).then((data) => {
                                        $('#gethlogs').html(`<pre>${data}</pre>`);
                                    });
                                }, 5000);
                            });
                        </script>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        {{template "footer"}}
    </div>
    {{end}}
</body>
</html>