{{define "node_sidemenu"}}
<div id="sidemenu" class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
    <a class="nav-link {{if eq .Tab "general"}}active{{end}}" href="/node/{{.Node.ID}}">General</a>
    <a class="nav-link {{if eq .Tab "health"}}active{{end}}" href="/node/{{.Node.ID}}/health">Health</a>
    <a class="nav-link {{if eq .Tab "endpoints"}}active{{end}}" href="/node/{{.Node.ID}}/endpoints">Endpoints</a>
    <a class="nav-link {{if eq .Tab "explorer"}}active{{end}}" href="/node/{{.Node.ID}}/explorer">Explorer</a>
    <a class="nav-link {{if eq .Tab "activity"}}active{{end}}" href="/node/{{.Node.ID}}/activity">Activity</a>
</div>
{{end}}