<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    {{with .Node}}
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        <h2>{{ .Name }} <span class="text-secondary text-capitalize"> – {{template "net_name" .}} {{.SyncMode}}</span></h2>
        {{template "alert_status" . }}
        <div class="lefttabs">
            <div class="row">
                <div class="col col-3">
                    {{template "node_sidemenu" $ }}
                </div>
                <div class="col">
                    <div class="details">
                        <h4>Address</h4>
                        <p><b>Balance:</b> <span id="balance"></span></p>
                        <p><b>Transactions:</b> <span id="txcount"></span></p>
                    </div>
                </div>
            </div>
            <script>
                $( document ).ready(function() {
                    var web3 = new Web3("http{{if .HasSSL}}s{{end}}://{{.DomainName}}:8545/{{.APIKey}}");
                    web3.eth.getBalance("{{ $.ID }}").then(async (balance) =>{
                        $('#balance').html(balance);
                    });
                    web3.eth.getTransactionCount("{{ $.ID }}").then(async (txcount) =>{
                        $('#txcount').html(txcount);
                    });
                });
            </script>
        </div>
        {{template "footer"}}
    </div>
    {{end}}
</body>
</html>