<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    {{with .Node}}
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        {{template "node_titlebar" . }}
        <div class="lefttabs">
            <div class="row">
                <div class="col col-3">
                    {{template "node_sidemenu" $ }}
                </div>
                <div class="col">
                    <div class="details">
                        <p><b>Virtual Machine:</b></p>
                        <p><button class="btn btn-primary" data-toggle="modal" data-target="#reboot-{{.ID}}"><i class="fas fa-sync-alt"></i> Reboot this node</button></p>
                        <div class="modal" id="reboot-{{.ID}}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Rebooting {{.Name}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body"><p>The Virtual Machine will be rebooted and your node will stop to function during a few seconds.</p><p>Are you sure you want to reboot this node?</p></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a href="/node/{{.ID}}/reboot" class="btn btn-primary">Reboot</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p>
                            <b>Danger zone:</b>
                            <div><button class="btn btn-danger" data-toggle="modal" data-target="#delete-{{.ID}}"><i class="far fa-trash-alt"></i> Delete this node</button></div>
                            <div class="modal" id="delete-{{.ID}}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Deleting {{.Name}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body"><p>The Virtual Machine will be deleted and all information will be lost.</p><p>Are you sure you want to delete this node?</p></div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <a href="/node/{{.ID}}/delete" class="btn btn-danger">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{template "footer"}}
    </div>
    {{end}}
</body>
