<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        <h2>{{ .Name }}</h2>
        <div class="row">
            <div class="col col-lg-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" href="/node/{{.ID}}">General</a>
                    <a class="nav-link" href="/node/{{.ID}}/health">Health</a>
                    <a class="nav-link" href="/node/{{.ID}}/endpoints">Endpoints</a>
                    <a class="nav-link" href="/node/{{.ID}}/explorer">Explorer</a>
                    <a class="nav-link" href="/node/{{.ID}}/actions">Actions</a>
                    <a class="nav-link active" href="/node/{{.ID}}/activity">Activity</a>
                </div>
            </div>
            <div class="col">
                <p>
                    <b>Created at:</b>
                    {{.CreatedAt.Format "Mon Jan 2 15:04"}}
                </p>
            </div>
        </div>
        {{template "footer"}}
    </div>
</body>
</html>