<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    {{with .Node}}
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        <h2>{{ .Name }}</h2>
        <div class="lefttabs">
            <div class="row">
                <div class="col col-3">
                    {{template "node_sidemenu" $ }}
                </div>
                <div class="col">
                    <div class="details">
                        <section>
                            <label>Network:</label>
                            {{if eq .NetworkType "public" }}
                            {{if eq .NetworkID 1}}Mainnet <span class="text-monospace text-secondary">({{.NetworkID}})</span>{{end}}
                            {{if eq .NetworkID 3}}Rospten <span class="text-monospace text-secondary">({{.NetworkID}})</span>{{end}}
                            {{if eq .NetworkID 4}}Rinkeby <span class="text-monospace text-secondary">({{.NetworkID}})</span>{{end}}
                            {{else}}
                            Private <span class="text-monospace text-secondary">({{.NetworkID}})</span>
                            {{end}}
                        </section>
                        <section>
                            <label>Created at:</label>
                            {{.CreatedAt.Format "Mon Jan 2 15:04"}}
                        </section>
                        <section>
                            <label>Cloud Provider:</label>
                            {{if eq .CloudProvider "aws" }}AWS{{end}}
                            {{if eq .CloudProvider "azure" }}Azure{{end}}
                            {{if eq .CloudProvider "digitalocean" }}DigitalOcean{{end}}
                        </section>
                        <section>
                            <label>VM Status:</label>
                            <span class="text-capitalize">{{.Status}}</span>
                        </section>
                        {{ if eq .Status "deployed"}}
                        <section>
                            <label>Geth Syncing:</label>
                            <span id="syncing"><i class="fas fa-spin fa-spinner"></i></span>
                        </section>
                        <section>
                            <label>Block Number:</label>
                            <span id="blocknumber"><i class="fas fa-spin fa-spinner"></i></span>
                        </section>
                        <section>
                            <label>Web3 RPC endpoint:</label>
                            <div class="input-group mb-0 toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!">
                                <input class="form-control text-monospace" type="text" value="http://{{.DomainName}}:8545/{{.APIKey}}" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button"><i class="fas fa-copy"></i></button>
                                </div>
                            </div>
                        </section>
                        <section>
                            <label>Geth attach:</label>
                            <div class="input-group mb-0 toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!">
                                <input class="form-control text-monospace" type="text" value="geth attach http://{{.DomainName}}:8545/{{.APIKey}}" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button"><i class="fas fa-copy"></i></button>
                                </div>
                            </div>
                        </section>
                        <section>
                            <label>SSH access:</label>
                            <div class="input-group mb-0 toclipboard" data-toggle="tooltip" data-placement="top" title="Copied!">
                                <input class="form-control text-monospace" type="text" value="ssh blockform@{{.DomainName}}" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button"><i class="fas fa-copy"></i></button>
                                </div>
                            </div>
                        </section>
                        <script>
                            $( document ).ready(function() {
                                var web3 = new Web3("http://{{.DomainName}}:8545/{{.APIKey}}");
                                
                                setInterval(function() {
                                    web3.eth.isSyncing().then((data) => {
                                        $('#syncing').html(data ? `Blocks: ${(data.currentBlock/data.highestBlock*100).toFixed(2)}% States: ${(data.pulledStates/data.knownStates*100).toFixed(2)}%` : 'False');
                                    });
                                    web3.eth.getBlockNumber().then((data) => {
                                        $('#blocknumber').html(data ? data : 'N/A');
                                    });
                                }, 1000);
                            });
                        </script>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        {{template "footer"}}
    </div>
    {{end}}
</body>
</html>