<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    {{with .Node}}
    <div class="container">
        <h1><a href="/">BlockForm</a></h1>
        {{template "node_titlebar" . }}
        <div class="lefttabs">
            <div class="row">
                <div class="col col-3">
                    {{template "node_sidemenu" $ }}
                </div>
                <div class="col">
                    <div class="details">
                        <h4>Block #{{ $.ID }}</h4>
                        <div id="block"></div>
                    </div>
                </div>
            </div>
            <script>
                $( document ).ready(function() {
                    var web3 = new Web3("http{{if .HasSSL}}s{{end}}://{{.DomainName}}:8545/{{.APIKey}}");
                    web3.eth.getBlock("{{ $.ID }}").then(async (bl) =>{
                        $('#block').append(`
                            <p><b>Hash:</b> <code>${bl.hash}</code></p>
                            <p><b>Timestamp:</b> ${bl.timestamp}</p>
                            <p><b>Size:</b> ${bl.size}</p>
                            <p><b>Difficulty:</b> ${bl.difficulty}</p>
                            <p><b>Gas Used:</b> ${bl.gasUsed}/${bl.gasLimit}</p>
                            <p><b>Nonce:</b> <code>${bl.nonce}</code></p>
                            <p><b>Mix Hash:</b> <code>${bl.mixHash}</code></p>
                        `);
                        var txs = "";
                        for (var i=0; i < bl.transactions.length; i++) {
                            var tx = bl.transactions[i];
                            txs += `
                            <tr>
                                <td><a href="/node/{{.ID}}/explorer/transaction/${tx}">#${i}</a></td>
                                <td><code>${tx}</code></td>
                            </tr>`;
                        }
                        $('#block').append(`<p><b>Transactions:</b> <table class="table table-sm">${txs}</table>`);
                        //$('#block').append(`<p><code>${JSON.stringify(bl)}</code><p>`);
                    });
                });
            </script>
        </div>
        {{template "footer"}}
    </div>
    {{end}}
</body>
</html>